.container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	height: min-content;
	z-index: 1;
	background: #000;
	scrollbar-width: none;
	.body {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 50px;
		height: 960px;
		top: 50px;
		position: sticky;
		overflow: hidden;

		z-index: 10;
		.nav {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 1005px;
			z-index: 100;
			transition: transform 0.3s, opacity 0.3s;
			&.active {
				transform: translateY(-200px);
				opacity: 0;
			}
			ul {
				position: relative;
				display: flex;
				align-items: center;
				gap: 70px;
				padding: 8px 0;
				z-index: 100;
				li {
					button {
						position: relative;
						cursor: pointer;
						color: rgba(34, 247, 216, 0.7);
						font-family: Moula;
						font-size: 26px;
						font-style: normal;
						font-weight: 600;
						line-height: 87%; /* 22.62px */
						text-transform: uppercase;
						&::after{
							position: absolute;
							content: '';
							top: -10px;
							left: -10px;
							width: calc(100% + 20px);
							height: calc(100% + 20px);
						}
					}
					&.active {
						button {
							color: #22f7d8;
							/* 2 */
							text-shadow: 0px 0px 15px rgba(34, 247, 216, 0.8);
							font-family: Moula;
							font-size: 36px;
							font-style: normal;
							font-weight: 600;
							line-height: 87%; /* 31.32px */
							text-transform: uppercase;
						}
					}
				}
			}
			svg {
				position: absolute;
				top: -20px;
				left: 0;
				width: 100%;
			}
		}
		.token {
			display: flex;
			align-items: center;
			height: 710px;
			scrollbar-width: none;
			&::after {
				position: absolute;
				content: '';
				bottom: -100px;
				left: 0;
				height: 80%;
				width: 100%;
				z-index: 100;
			}
			.left {
				transform: translate(200px, 10px);
				transition: transform 0.3s;
				&.active {
					transform: translate(750px, 10px) scale(.7);
				}
				img {
					height: 713px;
					object-fit: cover;
				}
			}
			.rigth {
				transform: translate(-200px, 10px) ;
				transition: transform 0.3s;
				&.active {
					transform: translate(-750px, 10px) scale(.7);
				}
				img {
					height: 713px;
					object-fit: cover;
				}
			}
			.tokenomics {
				position: relative;
				width: 706px;
				height: 706px;
				border-radius: 706px;
				// background: #000;
				z-index: 100;
				&.active {
					background-color: transparent;
				}
				.start {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: calc(100% - 50%);
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: flex-start;
					padding-top: 150px;
					gap: 60px;
					.title {
						color: #22fcdd;
						font-family: Moula;
						font-size: 36px;
						font-style: normal;
						font-weight: 500;
						line-height: normal;
					}
					.speed {
						display: flex;
						flex-direction: column;
						align-items: center;
						h3 {
							color: #fff;
							font-family: Moula;
							font-size: 240px;
							font-style: normal;
							font-weight: 500;
							line-height: normal;
						}
						p {
							color: #b3b3b3;
							font-family: Moula;
							font-size: 42px;
							font-style: normal;
							font-weight: 500;
							line-height: normal;
							transform: translateY(-20px);
						}
					}
				}
				.img_token {
					position: absolute;
					top: -70px;
					left: -70px;
					width: 1012px;
					height: 866px;
					transform: translateX(-25px) scale(.7);
					z-index: 1000;
					.img,
					.glitch {
						display: block;
						background-repeat: no-repeat;
						background-size: cover;
						background-position: center;
						width: 100%;
						height: 100%;
					}
					.glitch {
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						transform: scale(.7);
						-webkit-animation-duration: 2s;
						animation-duration: 2s;
						-webkit-animation-timing-function: linear;
						animation-timing-function: linear;
						-webkit-animation-iteration-count: infinite;
						animation-iteration-count: infinite;
						-webkit-animation-name: glitch-anim;
						animation-name: glitch-anim;
						-webkit-animation-direction: alternate;
						animation-direction: alternate;
					}
				}
			}
			.frame {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 1240px;
				height: 71.3vh;
				.cascade {
					position: relative;
					height: 71.3vh;
					width: 1240px;
					overflow-x: hidden;
					scrollbar-width: none;
					transition: transform 0.5s;
					.cascade_main {
						position: relative;
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: center;
						overflow: hidden;
						width: 100%;
						height: 100%;
						// transition: transform 0.5s, position .5s, opacity .5s;
						transition: transform 1s, opacity 0.3s, position .1s;
						// transform: translateY(26.4vh);
						&.show {
							.itemes{
								opacity: 0;
								transform: scale(0);
								.item{
									opacity: 0;
									transform: scale(0);
								}
							}
						}
						.itemes {
							display: flex;
							align-items: center;
							justify-content: center;
							flex-wrap: wrap;
							width: 1240px;
							gap: 90px 50px;
							overflow: hidden;
							transition: transform 1s, opacity 0.3s, position .1s;
							&.item_four {
								width: calc(1240px - 380px);
							}
							.item {
								display: flex;
								flex-direction: column;
								align-items: flex-start;
								gap: 8px;
								max-width: 380px;
								transition: transform 1s, opacity 0.3s, position .1s;
								h3 {
									color: #fff;
									font-family: Moula;
									font-size: 26px;
									font-style: normal;
									font-weight: 600;
									line-height: 87%; /* 22.62px */
									text-transform: uppercase;
								}
								p {
									color: #c1c1c1;
									font-family: Inter;
									font-size: 18px;
									font-style: normal;
									font-weight: 400;
									line-height: 155%; /* 27.9px */
								}
							}
						}
					}
					.cascade_doublee {
						display: flex;
						flex-direction: column;
						justify-content: center;
					}
				}
			}
		}
	}
	.content {
		height: 2800px;
	}
}

@-webkit-keyframes glitch-anim {
	0% {
		opacity: 1;
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
		clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
	}
	2% {
		-webkit-clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
		clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
		-webkit-transform: translate(-5px);
		transform: translate(-5px);
	}
	6% {
		-webkit-clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
		clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
		-webkit-transform: translate(5px);
		transform: translate(5px);
	}
	8% {
		-webkit-clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
		clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
		-webkit-transform: translate(-5px);
		transform: translate(-5px);
	}
	9% {
		-webkit-clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
		clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
		-webkit-transform: translate(0);
		transform: translate(0);
	}
	10% {
		-webkit-clip-path: polygon(0 54%, 100% 54%, 100% 44%, 0 44%);
		clip-path: polygon(0 54%, 100% 54%, 100% 44%, 0 44%);
		-webkit-transform: translate3d(5px, 0, 0);
		transform: translate3d(5px, 0, 0);
	}
	13% {
		-webkit-clip-path: polygon(0 54%, 100% 54%, 100% 44%, 0 44%);
		clip-path: polygon(0 54%, 100% 54%, 100% 44%, 0 44%);
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
	}
	13.1% {
		-webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
		clip-path: polygon(0 0, 0 0, 0 0, 0 0);
		-webkit-transform: translate3d(5px, 0, 0);
		transform: translate3d(5px, 0, 0);
	}
	15% {
		-webkit-clip-path: polygon(0 60%, 100% 60%, 100% 40%, 0 40%);
		clip-path: polygon(0 60%, 100% 60%, 100% 40%, 0 40%);
		-webkit-transform: translate3d(5px, 0, 0);
		transform: translate3d(5px, 0, 0);
	}
	20% {
		-webkit-clip-path: polygon(0 60%, 100% 60%, 100% 40%, 0 40%);
		clip-path: polygon(0 60%, 100% 60%, 100% 40%, 0 40%);
		-webkit-transform: translate3d(-5px, 0, 0);
		transform: translate3d(-5px, 0, 0);
	}
	20.1% {
		-webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
		clip-path: polygon(0 0, 0 0, 0 0, 0 0);
		-webkit-transform: translate3d(5px, 0, 0);
		transform: translate3d(5px, 0, 0);
	}
	25% {
		-webkit-clip-path: polygon(0 85%, 100% 85%, 100% 40%, 0 40%);
		clip-path: polygon(0 85%, 100% 85%, 100% 40%, 0 40%);
		-webkit-transform: translate3d(5px, 0, 0);
		transform: translate3d(5px, 0, 0);
	}
	30% {
		-webkit-clip-path: polygon(0 85%, 100% 85%, 100% 40%, 0 40%);
		clip-path: polygon(0 85%, 100% 85%, 100% 40%, 0 40%);
		-webkit-transform: translate3d(-5px, 0, 0);
		transform: translate3d(-5px, 0, 0);
	}
	30.1% {
		-webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
		clip-path: polygon(0 0, 0 0, 0 0, 0 0);
	}
	35% {
		-webkit-clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
		clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
		-webkit-transform: translate(-5px);
		transform: translate(-5px);
	}
	40% {
		-webkit-clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
		clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
		-webkit-transform: translate(5px);
		transform: translate(5px);
	}
	45% {
		-webkit-clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
		clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
		-webkit-transform: translate(-5px);
		transform: translate(-5px);
	}
	50% {
		-webkit-clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
		clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
		-webkit-transform: translate(0);
		transform: translate(0);
	}
	55% {
		-webkit-clip-path: polygon(0 10%, 100% 10%, 100% 0, 0 0);
		clip-path: polygon(0 10%, 100% 10%, 100% 0, 0 0);
		-webkit-transform: translate3d(5px, 0, 0);
		transform: translate3d(5px, 0, 0);
	}
	60% {
		-webkit-clip-path: polygon(0 10%, 100% 10%, 100% 0, 0 0);
		clip-path: polygon(0 10%, 100% 10%, 100% 0, 0 0);
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		opacity: 1;
	}
	60.1% {
		-webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
		clip-path: polygon(0 0, 0 0, 0 0, 0 0);
		opacity: 1;
	}
	to {
		-webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
		clip-path: polygon(0 0, 0 0, 0 0, 0 0);
		opacity: 1;
	}
}
@keyframes glitch-anim {
	0% {
		opacity: 1;
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
		clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
	}
	2% {
		-webkit-clip-path: polygon(0 88%, 100% 88%, 100% 100%, 0 100%);
		clip-path: polygon(0 88%, 100% 88%, 100% 100%, 0 100%);
		-webkit-transform: translate(-5px);
		transform: translate(-5px);
	}
	6% {
		-webkit-clip-path: polygon(0 88%, 100% 88%, 100% 100%, 0 100%);
		clip-path: polygon(0 88%, 100% 88%, 100% 100%, 0 100%);
		-webkit-transform: translate(5px);
		transform: translate(5px);
	}
	8% {
		-webkit-clip-path: polygon(0 88%, 100% 88%, 100% 100%, 0 100%);
		clip-path: polygon(0 88%, 100% 88%, 100% 100%, 0 100%);
		-webkit-transform: translate(-5px);
		transform: translate(-5px);
	}
	9% {
		-webkit-clip-path: polygon(0 88%, 100% 88%, 100% 100%, 0 100%);
		clip-path: polygon(0 88%, 100% 88%, 100% 100%, 0 100%);
		-webkit-transform: translate(0);
		transform: translate(0);
	}
	10% {
		-webkit-clip-path: polygon(0 34%, 100% 34%, 100% 44%, 0 44%);
		clip-path: polygon(0 34%, 100% 34%, 100% 44%, 0 44%);
		-webkit-transform: translate3d(5px, 0, 0);
		transform: translate3d(5px, 0, 0);
	}
	13% {
		-webkit-clip-path: polygon(0 34%, 100% 34%, 100% 44%, 0 44%);
		clip-path: polygon(0 34%, 100% 34%, 100% 44%, 0 44%);
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
	}
	13.1% {
		-webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
		clip-path: polygon(0 0, 0 0, 0 0, 0 0);
		-webkit-transform: translate3d(5px, 0, 0);
		transform: translate3d(5px, 0, 0);
	}
	15% {
		-webkit-clip-path: polygon(0 90%, 100% 90%, 100% 40%, 0 40%);
		clip-path: polygon(0 90%, 100% 90%, 100% 40%, 0 40%);
		-webkit-transform: translate3d(5px, 0, 0);
		transform: translate3d(5px, 0, 0);
	}
	20% {
		-webkit-clip-path: polygon(0 90%, 100% 90%, 100% 40%, 0 40%);
		clip-path: polygon(0 90%, 100% 90%, 100% 40%, 0 40%);
		-webkit-transform: translate3d(-5px, 0, 0);
		transform: translate3d(-5px, 0, 0);
	}
	20.1% {
		-webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
		clip-path: polygon(0 0, 0 0, 0 0, 0 0);
		-webkit-transform: translate3d(5px, 0, 0);
		transform: translate3d(5px, 0, 0);
	}
	25% {
		-webkit-clip-path: polygon(0 95%, 100% 95%, 100% 40%, 0 40%);
		clip-path: polygon(0 95%, 100% 95%, 100% 40%, 0 40%);
		-webkit-transform: translate3d(5px, 0, 0);
		transform: translate3d(5px, 0, 0);
	}
	30% {
		-webkit-clip-path: polygon(0 95%, 100% 95%, 100% 40%, 0 40%);
		clip-path: polygon(0 95%, 100% 95%, 100% 40%, 0 40%);
		-webkit-transform: translate3d(-5px, 0, 0);
		transform: translate3d(-5px, 0, 0);
	}
	30.1% {
		-webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
		clip-path: polygon(0 0, 0 0, 0 0, 0 0);
	}
	35% {
		-webkit-clip-path: polygon(0 73%, 100% 73%, 100% 80%, 0 80%);
		clip-path: polygon(0 73%, 100% 73%, 100% 80%, 0 80%);
		-webkit-transform: translate(-5px);
		transform: translate(-5px);
	}
	40% {
		-webkit-clip-path: polygon(0 73%, 100% 73%, 100% 80%, 0 80%);
		clip-path: polygon(0 73%, 100% 73%, 100% 80%, 0 80%);
		-webkit-transform: translate(5px);
		transform: translate(5px);
	}
	45% {
		-webkit-clip-path: polygon(0 73%, 100% 73%, 100% 80%, 0 80%);
		clip-path: polygon(0 73%, 100% 73%, 100% 80%, 0 80%);
		-webkit-transform: translate(-5px);
		transform: translate(-5px);
	}
	50% {
		-webkit-clip-path: polygon(0 73%, 100% 73%, 100% 80%, 0 80%);
		clip-path: polygon(0 73%, 100% 73%, 100% 80%, 0 80%);
		-webkit-transform: translate(0);
		transform: translate(0);
	}
	55% {
		-webkit-clip-path: polygon(0 10%, 20% 10%, 20% 0, 0 0);
		clip-path: polygon(0 10%, 20% 10%, 20% 0, 0 0);
		-webkit-transform: translate3d(5px, 0, 0);
		transform: translate3d(5px, 0, 0);
	}
	60% {
		-webkit-clip-path: polygon(0 10%, 20% 10%, 20% 0, 0 0);
		clip-path: polygon(0 10%, 20% 10%, 20% 0, 0 0);
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		opacity: 1;
	}
	60.1% {
		-webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
		clip-path: polygon(0 0, 0 0, 0 0, 0 0);
		opacity: 1;
	}
	to {
		-webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
		clip-path: polygon(0 0, 0 0, 0 0, 0 0);
		opacity: 1;
	}
}

@media (max-width: 1040px) {
	.container {
		.body {
			top: 0;
			.nav {
				position: absolute;
				top: 120px;
				left: 0;
				width: 100%;
				svg {
					display: none;
				}
			}
			.token {
				position: relative;
				flex-direction: column;
				.left {
					position: absolute;
					top: 0;
					transform: rotate(90deg) translateX(-500px) scale(1.2);
					&.active {
						transform: rotate(90deg) translateX(-250px) scale(0.75);
					}
					img {
						height: 713px;
						object-fit: cover;
					}
				}
				.rigth {
					transform: rotate(90deg) translateX(-50px) scale(1.2);
					&.active {
						transform: rotate(90deg) translateX(-260px) scale(0.75);
					}
				}
				.tokenomics {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: flex-start;
					width: 489px;
					height: 489px;
					background-color: transparent;
					.start {
						padding-top: 50px;
						height: calc(100% - 20px);
						gap: 20px;
					}
					.img_token {
						position: relative;
						top: 0;
						left: 0;
						width: 489px;
						height: 489px;
						transform: scale(1.2);
					}
				}
				.frame {
					flex-direction: column;
					padding-top: 200px;
					width: 100%;
					.cascade {
						width: 100%;
						height: 60vh;
						// &.active {
						// 	transform: translateY(-550px);
						// }
						.cascade_main {
							justify-content: center;
							height: 100%;
							.itemes {
								width: 680px;
								height: 550px;
								gap: 90px 30px;
								justify-content: center;
								&.item_four {
									height: 300px;
								}
								.item {
									width: 320px;
									margin-bottom: auto;
									h3 {
										font-size: 26px;
										font-style: normal;
										font-weight: 600;
										line-height: 87%;
										text-transform: uppercase;
									}
								}
							}
						}
					}
				}
			}
		}
	}

	.backround {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 1;
		&::before {
			position: absolute;
			content: '';
			top: 0;
			left: 0;
			width: 100%;
			height: 118px;
			background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, #000 97%);
			z-index: 100;
		}
		&::after {
			position: absolute;
			content: '';
			bottom: 0;
			left: 0;
			width: 100%;
			height: 118px;
			background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 97%);
			z-index: 100;
		}
	}
}

@media (max-width: 500px) {
	.container {
		.body {
			top: 0;
			height: 100vh;
			width: 100%;
			.nav {
				width: 100%;
				top: 40px;
				ul {
					gap: 50px;
					li {
						&.active {
							font-size: 30px;
						}
						button {
							font-size: 20px;
						}
					}
				}
				svg {
					display: none;
				}
			}
			.token {
				position: relative;
				flex-direction: column;
				width: 100%;
				&::after {
					height: 100%;
				}
				.left {
					position: absolute;
					top: 0;
					transform: translateY(-500px);
					width: 100%;
					&.active {
						transform: translateY(-450px);
					}
					img {
						width: 100%;
						height: auto;
					}
				}
				.rigth {
					transform: translateY(-220px);
					width: 100%;
					&.active {
						transform: translateY(-300px);
					}
					img {
						width: 100%;
						height: auto;
					}
				}
				.tokenomics {
					justify-content: center;
					width: 100%;
					background-color: transparent;
					.img_token {
						position: relative;
						top: 0;
						left: 0;
						width: 100%;
						height: 270px;
						transform: scale(1);
					}
					.start {
						padding-top: 50px;
						height: calc(100% - 20px);
						gap: 20px;
						transform: scale(.7);
					}
					.mobile_block {
						display: flex;
						flex-direction: column;
						align-items: center;
						gap: 67px;
						width: 100%;
						height: 236px;
						.text_mobile {
							display: flex;
							flex-direction: column;
							align-items: flex-start;
							gap: 13px;
							width: 200px;
							li {
								display: flex;
								align-items: center;
								justify-content: space-between;
								width: 100%;
								h3 {
									color: #22f7d8;
									text-shadow: 0px 0px 20px rgba(34, 247, 216, 0.7);
									font-family: Inter;
									font-size: 16px;
									font-style: normal;
									font-weight: 600;
									line-height: normal;
									text-transform: uppercase;
								}
								p {
									color: #22f7d8;
									text-align: right;
									text-shadow: 0px 0px 20px rgba(34, 247, 216, 0.7);
									font-family: Inter;
									font-size: 16px;
									font-style: normal;
									font-weight: 600;
									line-height: normal;
								}
							}
						}
					}
				}
				.frame {
					padding-top: 100px;
					&.frame_active{
						padding-top: 150px;
					}
					.cascade {
						height: 524px;
						width: 365px;
						&.active {
							transform: translateY(-524px);
						}
						.cascade_main {
							justify-content: center;
							height: 524px;
							.itemes {
								max-width: 500px;
								height: 524px;
								flex-wrap: nowrap;
								flex-direction: column;
								justify-content: center;
								gap: 20px;
								&.item_four {
									height: 400px;
								}
								.item {
									margin: 0;
									padding: 0px 16px;
									h3 {
										font-size: 20px;
										font-style: normal;
										font-weight: 600;
										line-height: 87%;
										text-transform: uppercase;
									}
									p {
										font-size: 14px;
										font-style: normal;
										font-weight: 400;
										line-height: 155%; /* 21.7px */
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
