.container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	height: min-content;
	z-index: 1;
	background: #000;
	&::after{
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 100;
	}
	.body {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 50px;
		height: 960px;
		top: 50px;
		position: sticky;
		overflow-x: hidden;
		z-index: 10;
		.nav {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 1005px;
			z-index: 100;
			transition: transform .3s, opacity .3s;
			&.active{
				transform: translateY(-200px);
				opacity: 0;
			}
			ul {
				position: relative;
				display: flex;
				align-items: center;
				gap: 70px;
				padding: 8px 0;
				z-index: 100;
				li {
					button {
						cursor: pointer;
						color: rgba(34, 247, 216, 0.7);
						font-family: Moula;
						font-size: 26px;
						font-style: normal;
						font-weight: 600;
						line-height: 87%; /* 22.62px */
						text-transform: uppercase;
					}
					&.active {
						button {
							color: #22f7d8;
							/* 2 */
							text-shadow: 0px 0px 15px rgba(34, 247, 216, 0.8);
							font-family: Moula;
							font-size: 36px;
							font-style: normal;
							font-weight: 600;
							line-height: 87%; /* 31.32px */
							text-transform: uppercase;
						}
					}
				}
			}
			svg {
				position: absolute;
				top: -20px;
				left: 0;
				width: 100%;
			}
		}
		.token {
			display: flex;
			align-items: center;
			height: 710px;
			.left {
				transform: translateX(200px);
				transition: transform .3s;
				&.active{
					transform: translateX(620px);
				}
				img{
					height: 713px;
					object-fit: cover;
				}
			}
			.rigth {
				transform: translateX(-200px);
				transition: transform .3s;
				&.active{
					transform: translateX(-620px);
				}
				img{
					height: 713px;
					object-fit: cover;
				}
			}
			.tokenomics{
				position: relative;
				width: 706px;
				height: 706px;
				border-radius: 706px;
				background: #000;
				z-index: 100;
				&.active{
					background-color: transparent;
				}
				.start{
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: calc(100% - 50%);
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: flex-start;
					padding-top: 50px;
					gap: 120px;
					.title{
						color: #22FCDD;
						font-family: Moula;
						font-size: 36px;
						font-style: normal;
						font-weight: 500;
						line-height: normal;
					}
					.speed{
						display: flex;
						flex-direction: column;
						align-items: center;
						h3{
							color: #FFF;
							font-family: Moula;
							font-size: 240px;
							font-style: normal;
							font-weight: 500;
							line-height: normal;
						}
						p{
							color: #B3B3B3;
							font-family: Moula;
							font-size: 42px;
							font-style: normal;
							font-weight: 500;
							line-height: normal;
							transform: translateY(-20px);
						}
					}
				}
				.img_token{
					position: absolute;
					top: -70px;
					left: -70px;
					width: 1012px;
					height: 866px;
					.img,
					.glitch {
						display: block;
						background-repeat: no-repeat;
						background-size: cover;
						width: 100%;
						height: 100%;
					}
					.glitch {
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						-webkit-animation-duration:2s;
						animation-duration:2s;
						-webkit-animation-timing-function:linear;
						animation-timing-function:linear;
						-webkit-animation-iteration-count:infinite;
						animation-iteration-count:infinite;
						-webkit-animation-name:glitch-anim;
						animation-name:glitch-anim;
						-webkit-animation-direction:alternate;
						animation-direction:alternate
					}
				}
			}
			.frame {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 1240px;
				height: 713px;
				.cascade {
					height: 264px;
					width: 1240px;
					overflow-x: hidden;
					scrollbar-width: none;
					transition: transform .5s;
					&.active {
						transform: translateY(-264px);
					}
					.cascade_main {
						position: relative;
						transition: transform 1s, opacity .3s;
						display: flex;
						flex-direction: column;
						align-items: center;
						overflow: hidden;
						&.show{
							opacity: 0;
							transform: scale(0);
						}
						.itemes{
							display: flex;
							align-items: center;
							justify-content: center;
							flex-wrap: wrap;
							height: 264px;
							width: 1240px;
							gap: 90px 50px;
							overflow: hidden;
							&.item_four{
								width: calc(1240px - 380px);
							}
							.item {
								display: flex;
								flex-direction: column;
								align-items: flex-start;
								gap: 8px;
								margin-bottom: auto;
								max-width: 380px;
								h3 {
									color: #fff;
									font-family: Moula;
									font-size: 26px;
									font-style: normal;
									font-weight: 600;
									line-height: 87%; /* 22.62px */
									text-transform: uppercase;
								}
								p {
									color: #c1c1c1;
									font-family: Inter;
									font-size: 18px;
									font-style: normal;
									font-weight: 400;
									line-height: 155%; /* 27.9px */
								}
							}
						}
					}
					.cascade_doublee{
						display: flex;
						flex-direction: column;
						justify-content: center;
					}
				}
			}
		}
	}
	.content{
		height: 2400px;
	}
}


@-webkit-keyframes glitch-anim {
	0% {
	 opacity:1;
	 -webkit-transform:translateZ(0);
	 transform:translateZ(0);
	 -webkit-clip-path:polygon(0 2%,100% 2%,100% 5%,0 5%);
	 clip-path:polygon(0 2%,100% 2%,100% 5%,0 5%)
	}
	2% {
	 -webkit-clip-path:polygon(0 78%,100% 78%,100% 100%,0 100%);
	 clip-path:polygon(0 78%,100% 78%,100% 100%,0 100%);
	 -webkit-transform:translate(-5px);
	 transform:translate(-5px)
	}
	6% {
	 -webkit-clip-path:polygon(0 78%,100% 78%,100% 100%,0 100%);
	 clip-path:polygon(0 78%,100% 78%,100% 100%,0 100%);
	 -webkit-transform:translate(5px);
	 transform:translate(5px)
	}
	8% {
	 -webkit-clip-path:polygon(0 78%,100% 78%,100% 100%,0 100%);
	 clip-path:polygon(0 78%,100% 78%,100% 100%,0 100%);
	 -webkit-transform:translate(-5px);
	 transform:translate(-5px)
	}
	9% {
	 -webkit-clip-path:polygon(0 78%,100% 78%,100% 100%,0 100%);
	 clip-path:polygon(0 78%,100% 78%,100% 100%,0 100%);
	 -webkit-transform:translate(0);
	 transform:translate(0)
	}
	10% {
	 -webkit-clip-path:polygon(0 54%,100% 54%,100% 44%,0 44%);
	 clip-path:polygon(0 54%,100% 54%,100% 44%,0 44%);
	 -webkit-transform:translate3d(5px,0,0);
	 transform:translate3d(5px,0,0)
	}
	13% {
	 -webkit-clip-path:polygon(0 54%,100% 54%,100% 44%,0 44%);
	 clip-path:polygon(0 54%,100% 54%,100% 44%,0 44%);
	 -webkit-transform:translateZ(0);
	 transform:translateZ(0)
	}
	13.1% {
	 -webkit-clip-path:polygon(0 0,0 0,0 0,0 0);
	 clip-path:polygon(0 0,0 0,0 0,0 0);
	 -webkit-transform:translate3d(5px,0,0);
	 transform:translate3d(5px,0,0)
	}
	15% {
	 -webkit-clip-path:polygon(0 60%,100% 60%,100% 40%,0 40%);
	 clip-path:polygon(0 60%,100% 60%,100% 40%,0 40%);
	 -webkit-transform:translate3d(5px,0,0);
	 transform:translate3d(5px,0,0)
	}
	20% {
	 -webkit-clip-path:polygon(0 60%,100% 60%,100% 40%,0 40%);
	 clip-path:polygon(0 60%,100% 60%,100% 40%,0 40%);
	 -webkit-transform:translate3d(-5px,0,0);
	 transform:translate3d(-5px,0,0)
	}
	20.1% {
	 -webkit-clip-path:polygon(0 0,0 0,0 0,0 0);
	 clip-path:polygon(0 0,0 0,0 0,0 0);
	 -webkit-transform:translate3d(5px,0,0);
	 transform:translate3d(5px,0,0)
	}
	25% {
	 -webkit-clip-path:polygon(0 85%,100% 85%,100% 40%,0 40%);
	 clip-path:polygon(0 85%,100% 85%,100% 40%,0 40%);
	 -webkit-transform:translate3d(5px,0,0);
	 transform:translate3d(5px,0,0)
	}
	30% {
	 -webkit-clip-path:polygon(0 85%,100% 85%,100% 40%,0 40%);
	 clip-path:polygon(0 85%,100% 85%,100% 40%,0 40%);
	 -webkit-transform:translate3d(-5px,0,0);
	 transform:translate3d(-5px,0,0)
	}
	30.1% {
	 -webkit-clip-path:polygon(0 0,0 0,0 0,0 0);
	 clip-path:polygon(0 0,0 0,0 0,0 0)
	}
	35% {
	 -webkit-clip-path:polygon(0 63%,100% 63%,100% 80%,0 80%);
	 clip-path:polygon(0 63%,100% 63%,100% 80%,0 80%);
	 -webkit-transform:translate(-5px);
	 transform:translate(-5px)
	}
	40% {
	 -webkit-clip-path:polygon(0 63%,100% 63%,100% 80%,0 80%);
	 clip-path:polygon(0 63%,100% 63%,100% 80%,0 80%);
	 -webkit-transform:translate(5px);
	 transform:translate(5px)
	}
	45% {
	 -webkit-clip-path:polygon(0 63%,100% 63%,100% 80%,0 80%);
	 clip-path:polygon(0 63%,100% 63%,100% 80%,0 80%);
	 -webkit-transform:translate(-5px);
	 transform:translate(-5px)
	}
	50% {
	 -webkit-clip-path:polygon(0 63%,100% 63%,100% 80%,0 80%);
	 clip-path:polygon(0 63%,100% 63%,100% 80%,0 80%);
	 -webkit-transform:translate(0);
	 transform:translate(0)
	}
	55% {
	 -webkit-clip-path:polygon(0 10%,100% 10%,100% 0,0 0);
	 clip-path:polygon(0 10%,100% 10%,100% 0,0 0);
	 -webkit-transform:translate3d(5px,0,0);
	 transform:translate3d(5px,0,0)
	}
	60% {
	 -webkit-clip-path:polygon(0 10%,100% 10%,100% 0,0 0);
	 clip-path:polygon(0 10%,100% 10%,100% 0,0 0);
	 -webkit-transform:translateZ(0);
	 transform:translateZ(0);
	 opacity:1
	}
	60.1% {
	 -webkit-clip-path:polygon(0 0,0 0,0 0,0 0);
	 clip-path:polygon(0 0,0 0,0 0,0 0);
	 opacity:1
	}
	to {
	 -webkit-clip-path:polygon(0 0,0 0,0 0,0 0);
	 clip-path:polygon(0 0,0 0,0 0,0 0);
	 opacity:1
	}
   }
   @keyframes glitch-anim {
	0% {
	 opacity:1;
	 -webkit-transform:translateZ(0);
	 transform:translateZ(0);
	 -webkit-clip-path:polygon(0 2%,100% 2%,100% 5%,0 5%);
	 clip-path:polygon(0 2%,100% 2%,100% 5%,0 5%)
	}
	2% {
	 -webkit-clip-path:polygon(0 88%,100% 88%,100% 100%,0 100%);
	 clip-path:polygon(0 88%,100% 88%,100% 100%,0 100%);
	 -webkit-transform:translate(-5px);
	 transform:translate(-5px)
	}
	6% {
	 -webkit-clip-path:polygon(0 88%,100% 88%,100% 100%,0 100%);
	 clip-path:polygon(0 88%,100% 88%,100% 100%,0 100%);
	 -webkit-transform:translate(5px);
	 transform:translate(5px)
	}
	8% {
	 -webkit-clip-path:polygon(0 88%,100% 88%,100% 100%,0 100%);
	 clip-path:polygon(0 88%,100% 88%,100% 100%,0 100%);
	 -webkit-transform:translate(-5px);
	 transform:translate(-5px)
	}
	9% {
	 -webkit-clip-path:polygon(0 88%,100% 88%,100% 100%,0 100%);
	 clip-path:polygon(0 88%,100% 88%,100% 100%,0 100%);
	 -webkit-transform:translate(0);
	 transform:translate(0)
	}
	10% {
	 -webkit-clip-path:polygon(0 34%,100% 34%,100% 44%,0 44%);
	 clip-path:polygon(0 34%,100% 34%,100% 44%,0 44%);
	 -webkit-transform:translate3d(5px,0,0);
	 transform:translate3d(5px,0,0)
	}
	13% {
	 -webkit-clip-path:polygon(0 34%,100% 34%,100% 44%,0 44%);
	 clip-path:polygon(0 34%,100% 34%,100% 44%,0 44%);
	 -webkit-transform:translateZ(0);
	 transform:translateZ(0)
	}
	13.1% {
	 -webkit-clip-path:polygon(0 0,0 0,0 0,0 0);
	 clip-path:polygon(0 0,0 0,0 0,0 0);
	 -webkit-transform:translate3d(5px,0,0);
	 transform:translate3d(5px,0,0)
	}
	15% {
	 -webkit-clip-path:polygon(0 90%,100% 90%,100% 40%,0 40%);
	 clip-path:polygon(0 90%,100% 90%,100% 40%,0 40%);
	 -webkit-transform:translate3d(5px,0,0);
	 transform:translate3d(5px,0,0)
	}
	20% {
	 -webkit-clip-path:polygon(0 90%,100% 90%,100% 40%,0 40%);
	 clip-path:polygon(0 90%,100% 90%,100% 40%,0 40%);
	 -webkit-transform:translate3d(-5px,0,0);
	 transform:translate3d(-5px,0,0)
	}
	20.1% {
	 -webkit-clip-path:polygon(0 0,0 0,0 0,0 0);
	 clip-path:polygon(0 0,0 0,0 0,0 0);
	 -webkit-transform:translate3d(5px,0,0);
	 transform:translate3d(5px,0,0)
	}
	25% {
	 -webkit-clip-path:polygon(0 95%,100% 95%,100% 40%,0 40%);
	 clip-path:polygon(0 95%,100% 95%,100% 40%,0 40%);
	 -webkit-transform:translate3d(5px,0,0);
	 transform:translate3d(5px,0,0)
	}
	30% {
	 -webkit-clip-path:polygon(0 95%,100% 95%,100% 40%,0 40%);
	 clip-path:polygon(0 95%,100% 95%,100% 40%,0 40%);
	 -webkit-transform:translate3d(-5px,0,0);
	 transform:translate3d(-5px,0,0)
	}
	30.1% {
	 -webkit-clip-path:polygon(0 0,0 0,0 0,0 0);
	 clip-path:polygon(0 0,0 0,0 0,0 0)
	}
	35% {
	 -webkit-clip-path:polygon(0 73%,100% 73%,100% 80%,0 80%);
	 clip-path:polygon(0 73%,100% 73%,100% 80%,0 80%);
	 -webkit-transform:translate(-5px);
	 transform:translate(-5px)
	}
	40% {
	 -webkit-clip-path:polygon(0 73%,100% 73%,100% 80%,0 80%);
	 clip-path:polygon(0 73%,100% 73%,100% 80%,0 80%);
	 -webkit-transform:translate(5px);
	 transform:translate(5px)
	}
	45% {
	 -webkit-clip-path:polygon(0 73%,100% 73%,100% 80%,0 80%);
	 clip-path:polygon(0 73%,100% 73%,100% 80%,0 80%);
	 -webkit-transform:translate(-5px);
	 transform:translate(-5px)
	}
	50% {
	 -webkit-clip-path:polygon(0 73%,100% 73%,100% 80%,0 80%);
	 clip-path:polygon(0 73%,100% 73%,100% 80%,0 80%);
	 -webkit-transform:translate(0);
	 transform:translate(0)
	}
	55% {
	 -webkit-clip-path:polygon(0 10%,20% 10%,20% 0,0 0);
	 clip-path:polygon(0 10%,20% 10%,20% 0,0 0);
	 -webkit-transform:translate3d(5px,0,0);
	 transform:translate3d(5px,0,0)
	}
	60% {
	 -webkit-clip-path:polygon(0 10%,20% 10%,20% 0,0 0);
	 clip-path:polygon(0 10%,20% 10%,20% 0,0 0);
	 -webkit-transform:translateZ(0);
	 transform:translateZ(0);
	 opacity:1
	}
	60.1% {
	 -webkit-clip-path:polygon(0 0,0 0,0 0,0 0);
	 clip-path:polygon(0 0,0 0,0 0,0 0);
	 opacity:1
	}
	to {
	 -webkit-clip-path:polygon(0 0,0 0,0 0,0 0);
	 clip-path:polygon(0 0,0 0,0 0,0 0);
	 opacity:1
	}
   }


@media (max-width: 760px){
	.container{
		.body{
			top: 0;
			.nav{
				position: absolute;
				top: 120px;
				left: 0;
				width: 100%;
				svg{
				display: none;
			}}
			.token{
				position: relative;
				flex-direction: column;
				.left{
					position: absolute;
					top: 0;
					transform: rotate(90deg) translateX(-400px) scale(.75);
					&.active{
						transform: rotate(90deg) translateX(-220px) scale(.75);
					}
					img{
						height: 713px;
						object-fit: cover;
					}
				}
				.rigth{
					transform: rotate(90deg) translateX(-100px) scale(.75);
					&.active{
						transform: rotate(90deg) translateX(-260px) scale(.75);
					}
				}
				.tokenomics{
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: flex-start;
					width: 489px;
					height: 489px;
					background-color: transparent;
					.start{
						padding-top: 50px;
						height: calc(100% - 20px);
						gap: 20px;
					}
					.img_token{
						position: relative;
						top: 0;
						left: 0;
						width: 489px;
						height: 489px;
						transform: scale(1.2);
					}
				}
				.frame{
					flex-direction: column;
					padding-top: 240px;
					width: 100%;
					.cascade {
						width: 100%;
						height: 550px;
						&.active {
							transform: translateY(-550px);
						}
						.cascade_main {
							justify-content: center;
							height: 550px;
							.itemes{
								width: 680px;
								height: 550px;
								gap: 90px 30px;
								justify-content: center;
								&.item_four{
									height: 300px;
								}
								.item{
									width: 320px;
									h3{
										font-size: 26px;
										font-style: normal;
										font-weight: 600;
										line-height: 87%;
										text-transform: uppercase;
									}
								}

							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 375px){
	.container{
		.body{
			top: 0;
			height: 100vh;
			.nav{
				width: 100%;
				top: 40px;
				ul{
					gap: 50px;
					li {
						&.active{
							font-size: 30px;
						}
						button{
							font-size: 20px;
						}
					}
				}
				svg{
					display: none;
				}
			}
			.token{
				position: relative;
				flex-direction: column;
				.left{
					position: absolute;
					top: 0;
					transform: translateY(-480px);
				}
				.rigth{
					transform: translateY(-220px);
					// display: none;
				}
				.frame{
					padding-top: 100px;
					.cascade {

						height: 524px;
						&.active {
							transform: translateY(-524px);
						}
						.cascade_main {
							justify-content: center;
							height: 524px;
							.itemes{
								max-width: 375px;
								height: 524px;
								flex-wrap: nowrap;
								flex-direction: column;
								justify-content: center;
								gap: 20px;
								&.item_four{
									height: 400px;
								}
								.item{
									padding: 0px 16px;
									h3{
										font-size: 20px;
										font-style: normal;
										font-weight: 600;
										line-height: 87%;
										text-transform: uppercase;
									}
									p{
										font-size: 14px;
										font-style: normal;
										font-weight: 400;
										line-height: 155%; /* 21.7px */
									}
								}

							}
						}
					}
				}
			}
		}
	}
}