.container {
	position: relative;
	width: 100%;
	height: min-content;
	// background-color: #000;
	z-index: 1;
	transition: height 0.3s;
	overflow: visible;
	.container_transform {
		position: sticky;
		height: 108.5vh;
		overflow: hidden;
		top: 0;
		z-index: 1;
		.backtound {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 115.1vh;
			background-repeat: no-repeat;
			background-size: cover;
			z-index: 1;
		}
		.body {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			padding: 4vh 0;
			height: calc(100% - 16vh);
			z-index: 2;
			h2 {
				color: #fff;
				font-family: Moula;
				font-size: 6vh;
				font-style: normal;
				font-weight: 700;
				line-height: 100%; /* 60px */
				text-transform: uppercase;
				text-align: center;
			}
			ul {
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 4px;
				border-radius: 30px;
				background: #1c1c1c;
				li {
					button {
						padding: 11px 20px;
						height: 46px;
						color: #fff;
						font-family: Inter;
						font-size: 18px;
						font-style: normal;
						font-weight: 500;
						line-height: normal;
						cursor: pointer;
						&.active {
							border-radius: 30px;
							background: #404040;
						}
					}
				}
			}
		}
		.container_phone {
			position: absolute;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-end;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			z-index: 1;
			.phone {
				position: relative;
				display: flex;
				flex-direction: column;
				align-items: center;
				padding-bottom: 160px;
				width: 70vh;
				height: 70vh;
				.phone_blur {
					position: absolute;
					content: '';
					top: 0;
					left: 0;
					width: 70vh;
					height: 70vh;
					border-radius: 70vh;
					background: rgba(34, 247, 216, 0.3);
					filter: blur(250px);
					z-index: -1;
				}
				.pattern_items {
					position: relative;
					.cascade {
						height: 65.8vh;
						overflow-x: auto;
						scrollbar-width: none;
						border-radius: 4.2vh;
						transition: transform 0.5s;
						&.active {
							transform: translateY(-65.8vh);
						}
						.cascade_main {
							height: 65.8vh;
							border-radius: 4.2vh;
							img {
								height: 65.8vh;
								border-radius: 4.2vh;
							}
						}
					}
					.pattern_phone {
						position: absolute;
						top: -1.6vh;
						left: -8.6vh;
						height: 91.6vh;
						object-position: center;
						object-fit: cover;
						z-index: -1;
					}
				}
			}
		}
		&::after {
			position: absolute;
			content: '';
			bottom: 0;
			left: 0;
			width: 100%;
			height: 326px;
			background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 97%);
			z-index: 1;
		}
	}
	.contain {
		height: 1600px;
		overflow: hidden;
		padding: 0;
		position: relative;
	}
}

@media (max-width: 1024px) {
	.container {
		z-index: 100;
		.container_transform {
			.body {
				height: calc(100% - 130px);
			}
			.container_phone {
				.phone {
					justify-content: flex-end;
					height: 64.22vh;
					.pattern_items {
						.cascade {
							height: 64.22vh;
							border-radius: 4vh;
							&.active {
								transform: translateY(-64.22vh);
							}
							.cascade_main {
								height: 64.22vh;
								border-radius: 4vh;
								img {
									height: 64.22vh;
									border-radius: 4vh;
								}
							}
						}
						.pattern_phone {
							top: -1.562vh;
							left: -8.393vh;
							height: 89.4vh;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 500px) {
	.container {
		.container_transform {
			.body {
				height: calc(100% - 120px);
				h2 {
					font-size: 32px;
				}
				ul li button {
					height: 36px;
					font-size: 14px;
				}
			}
			.container_phone {
				.phone {
					justify-content: flex-end;
					height: 640px;
					.pattern_items {
						.cascade {
							height: 432.511px;
							border-radius: 26px;
							&.active {
								transform: translateY(-432.511px);
							}
							.cascade_main {
								height: 432.511px;
								border-radius: 26px;
								img {
									height: 432.511px;
									border-radius: 26px;
								}
							}
						}
						.pattern_phone {
							top: -10.52px;
							left: -56.53px;
							height: 602.097px;
						}
					}
				}
			}
		}
	}
}
