header {
	position: absolute;
	display: flex;
	justify-content: center;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 100;
	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 39px;
		width: 1295px;
		nav {
			display: flex;
			align-items: center;
			gap: 40px;
			ul {
				display: flex;
				align-items: center;
				gap: 30px;
				li {
					button {
						color: #fff;
						font-family: Inter;
						font-size: 15px;
						font-style: normal;
						font-weight: 400;
						line-height: 135%; /* 20.25px */
						cursor: pointer;
					}
				}
			}
			.burger {
				display: none;
			}
		}
		.mobile {
			display: none;
		}
		.play {
			display: flex;
			align-items: center;
			gap: 5px;
			margin-left: auto;
			padding: 12px 20px;
			background-color: #f9fafb;
			border-radius: 16px;
			color: #1c1c1c;
			font-family: Inter;
			font-size: 14px;
			font-style: normal;
			font-weight: 600;
			line-height: 150%; /* 21px */
			text-decoration-line: none;
		}
	}
}

@media (max-width: 1024px) {
	header {
		.container {
			width: calc(100% - 60px);
			padding: 20px 30px;
			margin: 0;
		}
	}
}

@media (max-width: 500px) {
	header {
		.container {
			nav {
				ul {
					display: none;
				}
				.play {
					display: none;
				}
				.burger {
					display: block;
					cursor: pointer;
				}
			}
			.mobile {
				position: absolute;
				left: 0;
				bottom: -600px;
				display: flex;
				justify-content: center;
				width: 100%;
				.play {
					margin: 0;
				}
			}
		}
		.dop_menu {
			position: absolute;
			width: 100%;
			height: 100vh;
			top: 0;
			left: 0;
			background-color: #000;
			z-index: -1;
			transform: translateY(-100vh);
			transition: transform 0.2s;
			nav {
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-top: 200px;
				ul {
					display: flex;
					flex-direction: column;
					align-items: center;
					gap: 25px;
					button {
						color: #fff;
						font-family: Inter;
						font-size: 18px;
						font-style: normal;
						font-weight: 400;
						line-height: 135%; /* 24.3px */
						cursor: pointer;
					}
				}
			}
		}
		&.active {
			position: fixed;
			.dop_menu {
				transform: translateY(0);
			}
			.play {
				display: none;
			}
		}
	}
}
